<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>0</string>
		<key>price</key>
		<string>48</string>
		<key>title</key>
		<string>好后饿哦哈</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>848</string>
		<key>icon</key>
		<string>1</string>
		<key>price</key>
		<string>42</string>
		<key>title</key>
		<string>即诶诶额</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>38</string>
		<key>icon</key>
		<string>2</string>
		<key>price</key>
		<string>95</string>
		<key>title</key>
		<string>迪瑞人</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>48</string>
		<key>icon</key>
		<string>3</string>
		<key>price</key>
		<string>95</string>
		<key>title</key>
		<string>u弱肉</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>29</string>
		<key>icon</key>
		<string>4</string>
		<key>price</key>
		<string>24</string>
		<key>title</key>
		<string>i哈哈哈</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>90</string>
		<key>icon</key>
		<string>5</string>
		<key>price</key>
		<string>104</string>
		<key>title</key>
		<string>即诶诶额社</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>94</string>
		<key>icon</key>
		<string>6</string>
		<key>price</key>
		<string>35</string>
		<key>title</key>
		<string>就送IE哦</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>682</string>
		<key>icon</key>
		<string>7</string>
		<key>price</key>
		<string>66</string>
		<key>title</key>
		<string>数据饿哦哦</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>372</string>
		<key>icon</key>
		<string>8</string>
		<key>price</key>
		<string>15</string>
		<key>title</key>
		<string>个vi奥内</string>
	</dict>
</array>
</plist>
