<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>德系品牌</string>
		<key>footer</key>
		<string>德系品牌deiifof</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>奔驰</string>
				<key>icon</key>
				<string>0-0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝马</string>
				<key>icon</key>
				<string>0-1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奥迪</string>
				<key>icon</key>
				<string>0-2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>保时捷</string>
				<key>icon</key>
				<string>0-3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大众</string>
				<key>icon</key>
				<string>0-4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>日系品牌</string>
		<key>footer</key>
		<string>日系品牌soeoen</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>丰田</string>
				<key>icon</key>
				<string>1-0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马自达</string>
				<key>icon</key>
				<string>1-1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>本田</string>
				<key>icon</key>
				<string>1-2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>日产</string>
				<key>icon</key>
				<string>1-3</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
