<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>v集体话v</string>
		<key>playcount</key>
		<string>537054</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>01 白鹿洞二首·其一
唐·王贞白
读书不觉已春深，一寸光阴一寸金。
不是道人来引笑，周情孔思正追寻。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>29</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>663</string>
		<key>image0</key>
		<string>https://img2.baidu.com/it/u=3182091844,3438301287&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=663&amp;h=500</string>
		<key>image1</key>
		<string>https://img2.baidu.com/it/u=3182091844,3438301287&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=663&amp;h=500</string>
		<key>image2</key>
		<string>https://img2.baidu.com/it/u=3182091844,3438301287&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=663&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>iivii那边v咯</string>
		<key>playcount</key>
		<string>38950</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=3429121563,3765132226&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>02 赠去婢
唐·崔郊
公子王孙逐后尘，绿珠垂泪滴罗巾。
侯门一入深似海，从此萧郎是路人。</string>
		<key>passtime</key>
		<string>2024-08-12 13:44:28</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>10</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</string>
			<key>user_name</key>
			<string>不知怎么取名</string>
		</dict>
		<key>height</key>
		<string> 14417</string>
		<key>width</key>
		<string>440 </string>
		<key>image0</key>
		<string>https://pic.rmb.bdstatic.com/bjh/news/043a16c636b0f618c363be3542334db3.jpeg</string>
		<key>image1</key>
		<string>https://pic.rmb.bdstatic.com/bjh/news/043a16c636b0f618c363be3542334db3.jpeg</string>
		<key>image3</key>
		<string>https://pic.rmb.bdstatic.com/bjh/news/043a16c636b0f618c363be3542334db3.jpeg</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>ivii比i哦我v哦</string>
		<key>playcount</key>
		<string>9405</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=3429121563,3765132226&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>03 绝句
宋·夏元鼎
崆峒访道至湘湖，万卷诗书看转愚。
踏破铁鞋无觅处，得来全不费工夫。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>31</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>352</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string></string>
			<key>user_name</key>
			<string>名字</string>
		</dict>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>663</string>
		<key>image0</key>
		<string>https://img2.baidu.com/it/u=1765856164,687651239&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=663&amp;h=500</string>
		<key>image1</key>
		<string>https://img2.baidu.com/it/u=1765856164,687651239&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=663&amp;h=500</string>
		<key>image2</key>
		<string>https://img2.baidu.com/it/u=1765856164,687651239&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=663&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>99770</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>04 登科后
唐·孟郊
昔日龌龊不足夸，今朝放荡思无涯。
春风得意马蹄疾，一日看尽长安花。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>31</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>323</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊打啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊到底东东</string>
			<key>user_name</key>
			<string>大补大补</string>
		</dict>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>889</string>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=3551802496,2777239942&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=3551802496,2777239942&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=3551802496,2777239942&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=889&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>38485</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=3429121563,3765132226&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>05 夜奔
明·李开先
登高欲穷千里目，愁云低锁衡阳路。
鱼书不至雁无凭，几番空作悲愁赋。
回首西山月又斜，天涯孤客真难渡。
丈夫有泪不轻弹，只因未到伤心处。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>41</integer>
		<key>videotime</key>
		<string>122</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>889</string>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=4222879400,3415279970&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=4222879400,3415279970&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=4222879400,3415279970&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=889&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>i是vv喷雾苹果</string>
		<key>playcount</key>
		<string>2747</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>06 玉楼春·尊前拟把归期说
宋·欧阳修
尊前拟把归期说，欲语春容先惨咽。
人生自是有情痴，此恨不关风与月。
离歌且莫翻新阕，一曲能教肠寸结。
直须看尽洛城花，始共春风容易别。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>41</integer>
		<key>videotime</key>
		<string>542</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>889</string>
		<key>image0</key>
		<string>https://img2.baidu.com/it/u=3771690270,2483958336&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image1</key>
		<string>https://img2.baidu.com/it/u=3771690270,2483958336&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image2</key>
		<string>https://img2.baidu.com/it/u=3771690270,2483958336&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=889&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>实行鄂东</string>
		<key>playcount</key>
		<string>4555</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=3429121563,3765132226&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>07 诗经·小雅·鹤鸣
鹤鸣于九皋，声闻于野。
鱼潜在渊，或在于渚。
乐彼之园，爰有树檀，其下维萚。
他山之石，可以为错。
鹤鸣于九皋，声闻于天。
鱼在于渚，或潜在渊。
乐彼之园，爰有树檀，其下维榖。
他山之石，可以攻玉。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>41</integer>
		<key>videotime</key>
		<string>532</string>
		<key>voicetime</key>
		<string>0</string>
		<key>height</key>
		<string>888</string>
		<key>width</key>
		<string>500</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string></string>
			<key>user_name</key>
			<string>大补大补</string>
		</dict>
		<key>image0</key>
		<string>https://img1.baidu.com/it/u=2840294359,4115028957&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=888</string>
		<key>image1</key>
		<string>https://img1.baidu.com/it/u=2840294359,4115028957&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=888</string>
		<key>image2</key>
		<string>https://img1.baidu.com/it/u=2840294359,4115028957&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=888</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>世博跑步机跑就不怕</string>
		<key>playcount</key>
		<string>2354</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>08 浪淘沙·借问江潮与海水
唐·白居易
借问江潮与海水，何似君情与妾心？
相恨不如潮有信，相思始觉海非深。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>31</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>346</string>
		<key>height</key>
		<string>313</string>
		<key>width</key>
		<string>500</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊打啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊到底东东</string>
			<key>user_name</key>
			<string>大补大补</string>
		</dict>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=2239000379,2491255845&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=313</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=2239000379,2491255845&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=313</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=2239000379,2491255845&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=313</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>额别骄傲奔跑</string>
		<key>playcount</key>
		<string>85559</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>09 论诗五首·其二
清·赵翼
李杜诗篇万口传，至今已觉不新鲜。
江山代有才人出，各领风骚数百年。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>31</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>164</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>呼呼呼u uuuuuuuuuuuuuu哈哈恍恍惚惚uuuuuu呼呼呼呼u胡uuu呼呼呼</string>
			<key>user_name</key>
			<string>bu zi</string>
		</dict>
		<key>height</key>
		<string>366</string>
		<key>width</key>
		<string>654</string>
		<key>image0</key>
		<string>https://img1.baidu.com/it/u=2932832841,1927476082&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=654&amp;h=366</string>
		<key>image1</key>
		<string>https://img1.baidu.com/it/u=2932832841,1927476082&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=654&amp;h=366</string>
		<key>image2</key>
		<string>https://img1.baidu.com/it/u=2932832841,1927476082&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=654&amp;h=366</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>可参考比9比9额外</string>
		<key>playcount</key>
		<string>968686</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>10 冬夜读书示子聿
宋·陆游
古人学问无遗力，少壮工夫老始成。
纸上得来终觉浅，绝知此事要躬行。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>31</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>341</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>你你你iii次你i iiiiiiiiiiii你你你iii嘎哈哈哈哈的黄赌毒我额u夫妇饭</string>
			<key>user_name</key>
			<string>嘿嘿和</string>
		</dict>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>800</string>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=3575717635,1922712040&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=800&amp;h=500</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=3575717635,1922712040&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=800&amp;h=500</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=3575717635,1922712040&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=800&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>5758449</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>11 贾生
唐·李商隐
宣室求贤访逐臣，贾生才调更无伦。
可怜夜半虚前席，不问苍生问鬼神。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>10</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>889</string>
		<key>image0</key>
		<string>https://hbimg.huabanimg.com/2a76926b5e39ab66af6e691b33340d49f6dffed6174c80-PBWOK1_fw658</string>
		<key>image1</key>
		<string>https://hbimg.huabanimg.com/2a76926b5e39ab66af6e691b33340d49f6dffed6174c80-PBWOK1_fw658</string>
		<key>image2</key>
		<string>https://hbimg.huabanimg.com/2a76926b5e39ab66af6e691b33340d49f6dffed6174c80-PBWOK1_fw658</string>
		<key>is_gif</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>jigriovob</string>
		<key>playcount</key>
		<string>75844</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=3429121563,3765132226&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>12 金缕衣
唐·杜秋娘
劝君莫惜金缕衣，劝君惜取少年时。
花开堪折直须折，莫待无花空折枝。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>10</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>800</string>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=1525926059,627000665&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=800&amp;h=500</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=1525926059,627000665&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=800&amp;h=500</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=1525926059,627000665&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=800&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>95066</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>13 山园小梅
宋·林逋
众芳摇落独暄妍，占尽风情向小园。
疏影横斜水清浅，暗香浮动月黄昏。
霜禽欲下先偷眼，粉蝶如知合断魂。
幸有微吟可相狎，不须檀板共金樽。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>10</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>313</string>
		<key>width</key>
		<string>500</string>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=132925047,787796807&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=313</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=132925047,787796807&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=313</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=132925047,787796807&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=313</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>84535</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>14 春日
宋·朱熹
胜日寻芳泗水滨，无边光景一时新。
等闲识得东风面，万紫千红总是春。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>10</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>呼呼呼u uuuuuuuuuuuuuu哈哈恍恍惚惚uuuuuu呼呼呼呼u胡uuu呼呼呼</string>
			<key>user_name</key>
			<string>bu zi</string>
		</dict>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>833</string>
		<key>image0</key>
		<string>https://img1.baidu.com/it/u=2646502972,2437816858&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=833&amp;h=500</string>
		<key>image1</key>
		<string>https://img1.baidu.com/it/u=2646502972,2437816858&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=833&amp;h=500</string>
		<key>image2</key>
		<string>https://img1.baidu.com/it/u=2646502972,2437816858&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=833&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>i低哦爱哦i哦够哦</string>
		<key>playcount</key>
		<string>75939</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>15 湖上杂诗
袁枚
葛岭花开二月天，游人来往说神仙。
老夫心与游人异，不羡神仙羡少年。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>29</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦</string>
			<key>user_name</key>
			<string>名字</string>
		</dict>
		<key>height</key>
		<string>269</string>
		<key>width</key>
		<string>500</string>
		<key>image0</key>
		<string>https://img2.baidu.com/it/u=1097716118,548088430&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=269</string>
		<key>image1</key>
		<string>https://img2.baidu.com/it/u=1097716118,548088430&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=269</string>
		<key>image2</key>
		<string>https://img2.baidu.com/it/u=1097716118,548088430&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=269</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>低哦哦博鳌哦额</string>
		<key>playcount</key>
		<string>966969</string>
		<key>profile_image</key>
		<string>https://img2.baidu.com/it/u=3139361806,1142359594&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=800&amp;h=500</string>
		<key>text</key>
		<string>16 乙亥杂诗
龚自珍
浩荡离愁白日斜，吟鞭东指即天涯。
落红不是无情物，化作春泥更护花。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>29</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>270</string>
		<key>width</key>
		<string>500</string>
		<key>image0</key>
		<string>https://img1.baidu.com/it/u=2069989822,1341430373&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=270</string>
		<key>image1</key>
		<string>https://img1.baidu.com/it/u=2069989822,1341430373&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=270</string>
		<key>image2</key>
		<string>https://img1.baidu.com/it/u=2069989822,1341430373&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=500&amp;h=270</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>743822</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>17 击壤歌
日出而作，日入而息。
凿井而饮，耕田而食。
帝力于我何有哉？</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>29</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦</string>
			<key>user_name</key>
			<string>名字</string>
		</dict>
		<key>height</key>
		<string>324</string>
		<key>width</key>
		<string>600</string>
		<key>image0</key>
		<string>https://img0.baidu.com/it/u=3043071469,3720925624&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=600&amp;h=324</string>
		<key>image1</key>
		<string>https://img0.baidu.com/it/u=3043071469,3720925624&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=600&amp;h=324</string>
		<key>image2</key>
		<string>https://img0.baidu.com/it/u=3043071469,3720925624&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=600&amp;h=324</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>对方ii波i哦啊吧</string>
		<key>playcount</key>
		<string>244617</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=1568061224,1183622581&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>18 劝学诗
唐·颜真卿
三更灯火五更鸡，正是男儿读书时。
黑发不知勤学早，白首方悔读书迟。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>29</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict/>
		<key>height</key>
		<string>1280</string>
		<key>width</key>
		<string>800</string>
		<key>image0</key>
		<string>https://img2.baidu.com/it/u=92561787,26909340&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=1280&amp;h=800</string>
		<key>image1</key>
		<string>https://img2.baidu.com/it/u=92561787,26909340&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=1280&amp;h=800</string>
		<key>image2</key>
		<string>https://img2.baidu.com/it/u=92561787,26909340&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=1280&amp;h=800</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>July 小鱼一</string>
		<key>playcount</key>
		<string>802949</string>
		<key>profile_image</key>
		<string>https://img0.baidu.com/it/u=3128554233,1368556864&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=667&amp;h=500</string>
		<key>text</key>
		<string>19 逢雪宿芙蓉山主人
唐·刘长卿
日暮苍山远，天寒白屋贫。
柴门闻犬吠，风雪夜归人。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>29</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>0</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string>快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦快快快快快快快快窗口佩服品牌发票发票打破波哦</string>
			<key>user_name</key>
			<string>名字</string>
		</dict>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>889</string>
		<key>image0</key>
		<string>https://img1.baidu.com/it/u=1356416973,2066578063&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image1</key>
		<string>https://img1.baidu.com/it/u=1356416973,2066578063&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=889&amp;h=500</string>
		<key>image2</key>
		<string>https://img1.baidu.com/it/u=1356416973,2066578063&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=889&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>对比表伯</string>
		<key>playcount</key>
		<string>8484</string>
		<key>profile_image</key>
		<string>https://img1.baidu.com/it/u=1568061224,1183622581&amp;fm=253&amp;fmt=auto&amp;app=120&amp;f=JPEG?w=801&amp;h=500</string>
		<key>text</key>
		<string>20 浪淘沙·其八
唐·刘禹锡
莫道谗言如浪深，莫道迁客似沙沉。
千淘万漉虽辛苦，吹尽狂沙始到金。</string>
		<key>passtime</key>
		<string>2024-08-12 12:34:56</string>
		<key>ding</key>
		<integer>13069</integer>
		<key>cai</key>
		<integer>757</integer>
		<key>repost</key>
		<integer>2720</integer>
		<key>comment</key>
		<integer>208</integer>
		<key>type</key>
		<integer>31</integer>
		<key>videotime</key>
		<string>0</string>
		<key>voicetime</key>
		<string>232</string>
		<key>top_cmt</key>
		<dict>
			<key>content</key>
			<string></string>
			<key>user_name</key>
			<string>名字</string>
		</dict>
		<key>height</key>
		<string>500</string>
		<key>width</key>
		<string>816</string>
		<key>image0</key>
		<string>https://img1.baidu.com/it/u=2691711404,2569143580&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=816&amp;h=500</string>
		<key>image1</key>
		<string>https://img1.baidu.com/it/u=2691711404,2569143580&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=816&amp;h=500</string>
		<key>image2</key>
		<string>https://img1.baidu.com/it/u=2691711404,2569143580&amp;fm=253&amp;fmt=auto&amp;app=138&amp;f=JPEG?w=816&amp;h=500</string>
		<key>is_gif</key>
		<false/>
	</dict>
</array>
</plist>
