<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>就哦个i肉日日光棍节啊结果ii感染哦动容工及佛鳄OK过</string>
		<key>icon</key>
		<string>0</string>
		<key>name</key>
		<string>这是个网名</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不输好搭配 嗨哟菩萨 送哦饿哦fbulge指由于内部原因或填充物引起的膨胀,如“鼓鼓的肚子,鼓鼓的袋子”等；

protrude指一个整体平面上突出的部分，带有一种畸形的暗示，如突出的额头等;</string>
		<key>icon</key>
		<string>1</string>
		<key>picture</key>
		<string>5</string>
		<key>name</key>
		<string>网民是我</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>stick指Ａ物体伸出B物体之外,如把手伸出河面,钉子伸出椅子等;

jut指因构造或位置等原因使物体的一部分凸出或伸出某平面之上(即从某物的一侧伸出或突出)，如阳台在花园上方凸出来等;

swell指因膨胀或肿胀而隆起或突出，像（病理学）肿胀;(海洋)涨潮；（泉水、泪)涌出；(风帆)鼓起;(山峰）鼓起等.</string>
		<key>icon</key>
		<string>2</string>
		<key>picture</key>
		<string>6</string>
		<key>name</key>
		<string>网民加一</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>预期与现实不符</string>
		<key>icon</key>
		<string>3</string>
		<key>name</key>
		<string>这是我的网名</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>Homebrew是一款Mac OS平台下的软件包管理工具，拥有安装、卸载、更新、查看、搜索等很多实用的功能。简单的一条指令，就可以实现包管理，而不用你关心各种依赖和文件路径的情况，十分方便快捷。</string>
		<key>icon</key>
		<string>4</string>
		<key>picture</key>
		<string>7</string>
		<key>name</key>
		<string>我才没沉迷</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
