<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>江西</string>
		<key>cities</key>
		<array>
			<string>南昌</string>
			<string>赣州</string>
			<string>上饶</string>
			<string>景德镇</string>
			<string>宜春</string>
			<string>新余</string>
			<string>九江</string>
			<string>抚州</string>
			<string>南康</string>
			<string>瑞金</string>
			<string>吉安</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>吉林</string>
		<key>cities</key>
		<array>
			<string>长春</string>
			<string>吉林</string>
			<string>通化</string>
			<string>白城</string>
			<string>四平</string>
			<string>辽源</string>
			<string>延吉</string>
			<string>双辽</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>黑龙江</string>
		<key>cities</key>
		<array>
			<string>哈尔滨</string>
			<string>伊春</string>
			<string>牡丹江</string>
			<string>密山</string>
			<string>虎林</string>
			<string>富锦</string>
			<string>齐齐哈尔市黑河</string>
			<string>绥化</string>
			<string>鹤岗</string>
			<string>鸡西</string>
			<string>大庆</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>海南</string>
		<key>cities</key>
		<array>
			<string>万宁</string>
			<string>儋州</string>
			<string>琼海</string>
			<string>五指山</string>
			<string>三亚</string>
			<string>文昌</string>
			<string>海口</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>甘肃</string>
		<key>cities</key>
		<array>
			<string>酒泉</string>
			<string>嘉峪关</string>
			<string>张掖</string>
			<string>平凉</string>
			<string>金昌</string>
			<string>武威</string>
			<string>白银</string>
			<string>兰州</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>陕西</string>
		<key>cities</key>
		<array>
			<string>商洛</string>
			<string>安康</string>
			<string>汉中</string>
			<string>榆林</string>
			<string>延安</string>
			<string>铜川</string>
			<string>渭南</string>
			<string>咸阳</string>
			<string>宝鸡</string>
			<string>西安</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>福建</string>
		<key>cities</key>
		<array>
			<string>福州</string>
			<string>厦门</string>
			<string>泉州</string>
			<string>漳州</string>
			<string>南平</string>
			<string>三明</string>
			<string>龙岩</string>
			<string>莆田</string>
			<string>宁德</string>
			<string>建瓯</string>
			<string>武夷山</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>湖北</string>
		<key>cities</key>
		<array>
			<string>武汉</string>
			<string>荆门</string>
			<string>咸宁</string>
			<string>荆州</string>
			<string>襄阳</string>
			<string>黄石</string>
			<string>宜昌</string>
			<string>随州</string>
			<string>鄂州</string>
			<string>孝感</string>
			<string>黄冈</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>青海</string>
		<key>cities</key>
		<array>
			<string>格尔木市</string>
			<string>西宁</string>
			<string>玉树</string>
			<string>果洛</string>
			<string>海东</string>
			<string>海西</string>
			<string>海南</string>
			<string>海北</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>山东</string>
		<key>cities</key>
		<array>
			<string>莱西</string>
			<string>平度</string>
			<string>龙口</string>
			<string>即墨</string>
			<string>胶南</string>
			<string>胶州</string>
			<string>新泰</string>
			<string>肥城</string>
			<string>滕州</string>
			<string>邹城</string>
			<string>诸城</string>
			<string>泰安</string>
		</array>
	</dict>
</array>
</plist>
